<nav id="navigation" class="navigation">
	<ul>
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'Portfolio', portfolio_index_path %></li>
		<li><%= link_to 'Curriculum', curriculum_index_path %></li>
		<li><%= link_to 'Contact', contact_index_path %></li>
		<li id="threeline-icon" class="threeline-icon" onclick="openNav()">&#9776;</li>
	</ul>
</nav>