<html>
  <head>
  	<title> Jean Mendonça - Portfolio Online</title>
  </head>

  <body>
  	<div class="cover">
  		<div class="profile-pic">
  			<%= image_tag('jeanProfile.jpg', alt: 'Foto de Jean Mendonça') %>
  		</div>
  
  		<div class="profile-title">
  			<h1>Jean Pierry <span>S. Mendonça</span></h1>
  			<h2>Desenvolvedor Web</h2>
  		</div>
  	</div>
  </body>
</html>